/* CSS for ChiliPeppr Widget */

#pnlBody .container-fluid {
}
#pnlBody .pnlWorkspaceRtSidebarCollapsed {
    /* padding-right: 45px; */
    padding-right: 10px;
}
#pnlBody .pnlWorkspaceRtSidebarExpanded {
    padding-right: 0;
}
#pnlRtSidebar {
    position: relative;
}
#pnlWorkspace {
    padding-left: 10px;
}
